body{
    background-color: aquamarine;
}
.container{
    padding :5px;
    border: 4px solid black;
    width: 169px;
    height: 149px;
    border-radius: 10px;
    background-color: brown;
}
#ans{
    background-color: antiquewhite;
}
.calc button{
    display: block;
    border-radius: 5px;
}

button:nth-child(even){
    background-color: orange;
}
button:nth-child(odd){
    background-color: yellow;
}

button:hover{
    color: white;
    background-color: blue;
}
input{
    width: 95%;
}




